* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* lần này lại sai chỗ này, thảm nào
    NGU quá đi*/
}

/* summon */
html {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

.float-right {
    float: right;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row::after {
    content:"";
    display: block;
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 18px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}


.btn:hover {
    background-color: #ccc;
    color: #000;
}




#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/* Navigation */

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#nav .subnav li:hover a, 
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav > li > a {
    text-transform: uppercase;
    color: #fff;
}

#nav li {
    
    position: relative;
}

#nav > li {
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}
    
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px;
    background-color: #fff;
}

#nav .subnav a {
    padding: 0 16px;
    line-height: 38px;
    color: #000;
}

.ti-angle-down {
    font-size: 14px;
}
/* End-Nav */

.search-section {
    float: right;
    line-height: 46px;
    padding: 0 24px;
}

.search-section:hover {
    background-color: #f44336;
    cursor: pointer;
}

.search-btn {
    font-size: 14px;
    color: #fff;
}

/* End-Navigation */

/* slider */


.slider-content {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.slider-heading {
    font-weight: 400;
}

.slider-sub-sub-heading {
    margin-top: 25px;
}

/* end slider */

#content {

}

.content-heading-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    
}

.heading-section {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}

.sub-heading-section {
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
    text-align: center;
}

.band-about {       
    text-align: center;
    margin-top: 30px;
    text-align: justify;
    line-height: 1.4;
}
    /* Member-img */
.member-list {
    margin-top: 32px;
}

.member-name {
    margin: 15px 0;
}

.member-img {
    width: 58%;
    border-radius: 4px;
}
/* Tour-section */

.tour-section {
    background-color: #000;
}
.book-tickets {
    background-color: #fff;
    margin-top: 40px;
    color: #757575;
}

.book-tickets li {
    border: 1px solid #ccc;
    padding: 10px 16px;
    list-style: none;
}

.sold-out {
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 7px;
    color: #fff;
}

.quantity {
    float: right;
    background-color: #000;
    color: #fff;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    margin-top: -2px;
}

/* Places */

.places-list {
    margin-top: 32px;
}

.place-item {

    width: 33.33333%;
 
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    
}


.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

/*Giỏ -Hàng */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    animation: Modaltroi ease 0.3s;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 85%;
    min-height: 200px;
    position: relative;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

i.ti-bag {
    padding-bottom: 3px;
    padding-right: 10px;
}



.ti-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px;
    color: #fff;
}

.ti-close:hover {
    cursor: pointer;
    /* background-color:rgba(104, 219, 235, 0.5); */
    opacity: 0.8;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
}
input.modal-input {
    margin-bottom: 26px;
    width: 100%;
    padding: 10px 7px;
}

.modal-body {
    padding: 15px 16px;
}

button.modal-btn {
    border: none;
    background-color: #009688;
    width: 100%;
    padding: 19px 0;
    color: #fff;
    text-transform: uppercase;
}

button.modal-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

footer.modal-footer {
    text-align: right;
}

@keyframes Modaltroi {
    from {
        opacity: 0.2;
        transform: translateY(-120px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* contact */
.contact-infor {
    font-size: 17px;
    line-height: 1.5;
}

.contact-infor i[class*="ti"] {
    width: 30px;
    display: inline-block;
}

.contact-content {
    margin-top: 47px;
}

.form-control {
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
}

.contact-send {
    float: right;
    margin: 16px 0;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 11px 17px;
}

.contact-send:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map-section {
    width: 100%;
}


#footer {
    padding: 64px 16px;
    text-align: center;
    
}

.social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 1.1);
    text-decoration: none;
    opacity: 0.6;
}

#footer .social-list a:hover {
    opacity: 0.3;
}

#footer .coppyright {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

#footer .coppyright a {
    color: rgba(0, 0, 0, 0.6);
}