/* pc */

@media (min-width: 64em) {
    
}

/* tablet */

@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* Mobile */

@media (max-width: 46.1875em) {

    .s-mt8 {
        margin-top: 8px;
    }

    .s-width-full,
    .s-col-full {
        width: 100%;
    }

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 10px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    }

    .subnav li a {
        padding: 1px 41px;
    }

    .search-btn {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    .s-img-team {
        text-align: center;
    }

    .img-team {
        width: 60%;
    }

    .member-name {
    }
    
    .infor-member {
        left: 85px;
        margin-left: -25px;
    }

    .kure-img {
        padding: 8px 0;
    }

}


